@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Indie Flower", serif;
}

#container{
    margin: 0 auto;
    display: flex;
    flex-basis: 70%;
}

.nav_buttons{
    
    display: flex;
    padding: 5px;
    margin-left: 10px;
}

body{
    background-image: url("img/background.jpg");
    background-size: cover;
}

span{
    margin: auto;
}

a{
    text-decoration: none;
    color: white;
}

.nav_buttons:hover{
    background-color: #4E4A4A;
}

#logo{
    display: flex;
    flex-basis: 20%;
}

#nav_bar{
    margin-left: 40%;
    flex-basis: 80%;
    display: flex;
}

.log_in {
    background-image: url("img/Frame.svg");
    display: inline-block;
}

#navigation_rect{
    background-image: radial-gradient(circle, #747474, black);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#navigation_list{
    display: flex;
}

.content{
    margin-left: 15%;
    margin-right: 15%;
    height: 100%;
    background-color: gray;
}

.my_info{
    /* display: flex; */
    padding-top: 20px;
    padding-left: 20px;
}

.my_image{
    display: block;
    float: left;
    width: 20%;
    border-radius: 100%;
}

.my_image:hover
{
    position: relative;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
}

.text_info{
    padding-left: 320px;
}

.my_expirience_header {
    margin-top: 30px;
    text-align: center;
}

.regular_text {
    padding-left: 320px;
}

.my_expirience_header {
    padding-left: 320px;
}